.container__title {
    font-size: 25px;
    font-weight: 700;
    position: relative;

}

.container__title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}